extends layout

block content
  h1 EBMeDS FHIR plugin
  p API version #{version}

  h2 Debug mode

  i e.g. POST /api/health-coaching?debug=true
  p Returns OperationOutcome resource if EBMeDS response has errors or warnings, otherwise returns the actual Parameters resource

  h3 Response example

  pre #{response}

  h2 API Methods

  i POST /api/health-coaching

  p Content-Type: application/json; charset=utf-8

  h3 Request example 1

  pre #{request1}

  h3 Request example 2

  pre #{request2}